Self-signed ECDSA certificate is not accepted

![out](https://user-images.githubusercontent.com/989243/221667809-971145b3-4fe2-4a0d-9502-b271f3d6897a.jpg)

Attached file is failing with `"explanation": "certificate params incorrect"`, but I'm not clear why that is

* it's an EC key using prime256v1, self-signed with SHA256+ECDSA
* the public key parameters are set (I assume, from the message, that this is the failure, but as it's just the curve I can't see how)
* keyUsage and extendedKeyUsage are both set
* it has no AuthorityKeyIdentifier because it's self-signed

As far as I can see, other than being self-signed it's structurally identical to the key from `truepic-20230212-library.jpg` from the public repository

A quick look in the code and it looks like this is probably failing because it's looking for the AuthorityKeyIdentifier even when the certificate is self-signed.

Spec says:

> The Authority Key Identifier extension must be present in any certificate that is not self-signed. [RFC 5280 section 4.2.1.1](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.1)

Only end-entity certificates can sign C2PA manifests.  You can generate your own certificate chain but a root CA is not allowed.  

See these threads for more info:

https://discord.com/channels/983153151341371422/983153390781616159/1028065509759000636
https://discord.com/channels/983153151341371422/983153390781616159/1032726196401745970


Got it - the chain must be at least two long. Thanks Maurice.

You're welcome.